{
    "token": "",
    "support": {
        "roleID": "",
        "guildID": "",
        "channel": {
            "id": "",
            "name": "",
            "reactMessageID": ""
        },
        "settings": {
            "everyoneCanCreateSupportTicket": "",
            "roleCanCreateSupportTicket": ""
        }
    }
}
